img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.content{
    border:0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

.searchbar {
    background:rgb(238,238,238);
    width: 100%;
    
}

.card1{
    background:rgb(126,229,218);
    width: 37%;
}

.card2{
    background:rgb(112,204,194);
    font-size:smaller;
}

.card3{
    background: rgb(98,179,170);
    padding: 0px;
    
}
.card3>span{
    font-size:smaller;
}

p{
    font-size:smaller;
    text-align: center;
    margin: 0;
}